<div
  class="recipes-index__content"
  data-current-page=<%= pagination[:current_page] %>
  data-tag-scope=<%= tag&.slug %>>
  <div class="recipes-index__action-bar">
    <div class="recipes-index__sort-by">
      <button data-id="created_at" onclick="SimpleeFood.onRecipeSort(event)" class="recipes-index__sort-by--recent<%= ' selected' if sort_by == "created_at" %>">Sort By Recent</button><button data-id="name" onclick="SimpleeFood.onRecipeSort(event)" class="recipes-index__sort-by--name<%= ' selected' if sort_by == "name" %>">Sort By Name</button>
    </div>

    <div class="recipes-index__pagination">
      <button class="nav-arrow" onclick="SimpleeFood.onPaginationPrev()">
        <%= svg_icon(:left_arrow) %>
      </button>
      <span>
        <%= pagination[:first_item] %> - <%= pagination[:last_item] %> of <%= pagination[:total_items] %>
      </span>
      <button class="nav-arrow" onclick="SimpleeFood.onPaginationNext()">
        <%= svg_icon(:right_arrow) %>
      </button>
    </div>
  </div>

  <% if tag %>
  <div class="recipes-index__tag-filter">
    showing only recipes tagged <span class="tag"><%= tag.slug %></span>.&nbsp;&nbsp;<a href="/recipes">show all</a>
  </div>
  <% end %>

  <% if recipes.size == 0 %>
  <span class="recipes-index__empty-state">
    No results found
  </span>
  <% else %>
  <div class="recipes-index__list">
  <% recipes.each do |recipe| %>
    <div class="recipes-index__item shareable" data-name="<%= recipe.slug %>">
      <div class="recipes-index__item--image">
        <a href="/recipes/<%= recipe.slug %>">
          <img src="/images/avocado-toast.jpg" />
        </a>
      </div>
      <div class="recipes-index__item--details">
        <span>
          <a href="/recipes/<%= recipe.slug %>">
            <%= recipe.name %>
          </a>
        </span>
        <div class="recipes-index__share-link btn--as-link shareable" data-name="<%= recipe.slug %>" >
          <a href="" onclick="SimpleeFood.onRecipeShare(event)">
            share
          </a>&nbsp;<%= svg_icon(:share) %>
        </div>
        <% if recipe.tags.any? %>
        <div class="recipes-index__tags">
          <% recipe.tags.each_with_index do |tag| %>
          <a class="tag" href="/recipes?tag=<%= tag.slug %>"><%= tag.name.downcase %></a>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>
