<div class="content">
  <%= erb(:"shared/logo") %>
  <%= erb(:"shared/nav") %>

  <div class="recipe-title-bar">
    <h1><%= @recipe.name %></h1>
    <% if @current_user %>
    <a href="/recipes/<%= @recipe.slug %>/edit">
      <button class="recipes-show__edit-btn btn--hollow">Edit&nbsp;<%= svg_icon(:pencil) %></button>
    </a>
    <% end %>
  </div>

  <%= erb(:"shared/flash") %>

  <section class="recipes-show__header-bar">
    <div class="recipes-show__header-image">
      <img src="data:<%= @recipe.image || recipe_image_placeholder %>">
    </div>
    <div class="recipes-show__header-toolbar">
      <% if @recipe.source_url %>
      <div class="recipes-show__header-source-url btn--as-link">
        <a target="_blank" href="<%= @recipe.source_url %>">original url</a>&nbsp;<%= svg_icon(:arrow_top_right) %>
      </div>
      <% end %>
      <div class="recipes-show__header-fullscreen btn--as-link">
        <a href="#" onclick="SimpleeFood.recipeFullscreenOpen()">cooking mode</a>&nbsp;<%= svg_icon(:fullscreen) %>
      </div>
    </div>
  </section>

  <% if @recipe.serving_size.present? %>
  <div class="recipes-show__serving-size">
    <%= @recipe.serving_size %>
  </div>
  <% end %>

  <div class="recipes-show__content">
    <section class="recipes-show__ingredients">
      <h2>Ingredients</h2>

      <% @recipe.ingredients.each_with_index do |ingredient, idx| %>
      <div class='recipes-show__ingredient'>
        <input type="checkbox" id="ingredient_<%= idx %>" name="ingredient_<%= idx %>" value="<%= ingredient %>">
        <label for="ingredient_<%= idx %>"> <%= ingredient %></label>
      </div>
      <% end %>
    </section>

    <section class="recipes-show__instructions">
      <h2>Steps</h2>
      <ul>
        <% @recipe.instructions.each_with_index do |instruction, idx| %>
        <li class="recipes-show__instruction-item" data-id="<%= idx + 1 %>" onclick="SimpleeFood.onRecipeInstructionClick(event)">
          <div class="recipes-show__instruction-number"><%= idx + 1 %></div>
          <p class="recipes-show__instruction-text"><%= instruction %></p>
        </li>
        <% end %>
      </ul>
    </section>
  </div>

  <div class="recipes-show__tags">
  <% if @recipe.tags.any? %>
    <% @recipe.tags.each_with_index do |tag| %>
    <a class="tag" href="/recipes?tag=<%= tag.slug %>"><%= tag.name.downcase %></a>
    <% end %>
  </div>
  <% end %>

  <div class="recipes-show__created-at">
    created <%= @recipe.created_at.strftime("%Y-%m-%d") %>
    <br />
    updated <%= @recipe.updated_at.strftime("%Y-%m-%d") %>
  </div>

  <% if @current_user %>
  <div class="recipes-show__delete-btn btn--as-link">
    <a onclick="SimpleeFood.onRecipeDelete('/api/recipes/<%= @recipe.slug %>'); return false;">
      delete this recipe
    </a>
  </div>
  <% end %>
</div>

<%= erb(:"recipes/recipe-fullscreen", {}, recipe: @recipe) %>
