<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="<%= css_asset_path(:application) %>" type="text/css" />

    <!-- JS -->
    <script src="<%= js_asset_path(:index) %>"></script>

    <!-- Font -->
    <!-- https://fonts.google.com/share?selection.family=Ubuntu+Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!-- Favicons (generated from realfavicongenerator.net) -->
    <link rel="icon" type="image/png" href="<%= image_asset_path('favicons/favicon-96x96.png') %>" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="<%= image_asset_path('favicons/favicon.svg') %>" />
    <link rel="shortcut icon" href="<%= image_asset_path('favicons/favicon.ico') %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_asset_path('favicons/apple-touch-icon.png') %>" />
    <meta name="apple-mobile-web-app-title" content="SimpleeFood" />
    <link rel="manifest" href="<%= image_asset_path('favicons/site.webmanifest') %>" />

    <title>
      <%= @page_title ? "#{@page_title} | Simplee Food" : 'Simplee Food' %>
    </title>
  </head>
  <body>
    <%= yield %>
    <div class='footer'>
      <a href="https://github.com/abhchand/simplee-food" target="_blank"><%= APP_VERSION %></a>
      <span>|</span>
      <span>made with ❤️</span>
    </div>
  </body>
</html>
