<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="<%= css_asset_path(:application) %>" type="text/css" />

    <!-- JS -->
    <script src="<%= js_asset_path(:index) %>"></script>

    <!-- Font -->
    <!-- https://fonts.google.com/share?selection.family=Ubuntu+Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <title>
      <%= @page_title ? "#{@page_title} | Simplee Food" : 'Simplee Food' %>
    </title>
  </head>
  <body>
    <%= yield %>
    <div class='footer'>
      <a href="https://github.com/abhchand/simplee-food" target="_blank"><%= APP_VERSION %></a>
      <span>|</span>
      <span>made with ❤️ by <a href="https://abhchand.me/" target="_blank">abhchand</a></span>
    </div>
  </body>
</html>
